<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-item>Hello {{user?.email}}</ion-item> 

   <!-- Welcome to the members only area!
  <ion-button expand="full" (click)="loadSpecialInfo()">Load Special Info</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>
  <ion-button expand="full" (click)="getData()">Test</ion-button> -->

</ion-content>
