<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->
 
<ion-content padding>

      <ion-img class="ion-margin-top" style="width: 50vw; margin: 50px auto" src="./../../assets/Logo.png"></ion-img>
      <ion-text>
        <h1>Welcome!</h1>
      </ion-text>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
 
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>   


    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Login</ion-button>
    
    <ion-button expand="full" type="button" (click)="register()" [disabled]="!credentialsForm.valid">Register</ion-button>
  </form>
</ion-content>