<ion-header>
  <ion-toolbar>
    <ion-title>Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
  <ng-container *ngIf="exercises && exercises.length > 0; else elseTemplate">
    <ion-list>
      <!-- <ion-item-sliding *ngFor="let exercise of exercises">
      <ion-item>
        <ion-card >
          <ion-card-header>
            <ion-card-subtitle>{{exercise.name}}</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
        <ion-item-option color="primary" (click)="share(item)">Share</ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="start">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->

      <ion-item-sliding
        *ngFor="let exercise of exercises"
        (ionSwipe)="removeExercise(exercise)"
        (ionDrag)="handleSlide($event)"
      >
        <ion-item-options side="start">
          <ion-item-option
            color="success"
            (click)="onCompleteExercise(exercise, true)"
            ><ion-icon name="thumbs-up"></ion-icon
          ></ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>10 reps, 3 sets</ion-card-subtitle>
              <ion-card-title>{{ exercise.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img [src]="exercise.imgURI"></ion-img>
              {{ exercise.description }}
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option
            color="danger"
            (click)="onCompleteExercise(exercise, false)"
            ><ion-icon name="thumbs-down"></ion-icon
          ></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>
  <ng-template #elseTemplate>
    Hurray, you have completed all of the exercises!
  </ng-template>
</ion-content>
