<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content padding>
    <form>
   
      <ion-item>
        <ion-label>Name</ion-label>
       
      </ion-item>
  
      <ion-item>
        <ion-label>Diagnose</ion-label>
        
      </ion-item>
   
      <ion-item>
        <ion-label>Physiotherapist</ion-label>
        
      </ion-item>
      
      <ion-button expand="full" type="button" (click)="deleteUser()">Change password</ion-button>

    
      <ion-button expand="full" type="button" (click)="deleteUser()">Delete account</ion-button>
   
    </form>
  </ion-content>

</ion-content>
